<!DOCTYPE html>

<html>
	<head>
		<title>URL Shortener</title>
		<link rel="icon" type="image/png" href="../public/favicon.ico" />
		<link href="../public/style.css" rel="stylesheet" type="text/css" />
		<script src="../public/utils.js"></script>
		<script src="../public/client.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	</head>

	<body>
		<h1>URL Shortener Microservice</h1>
		<main>
			<section id="input-section">
				<!-- <form action="none"> -->
				<fieldset>
					<legend>URL Shortener</legend>
					<label for="url-input">URL:</label>
					<input id="url-input" type="text" name="url" placeholder="long ass URL..." />
					<button id="url-input-button" type="button">POST URL</button>
				</fieldset>
				<!-- </form> -->
			</section>
			<section id="display-section">
				<h1>Shortened URL:</h1>
				<div id="url-display">
					<span id="url-display-placeholder">Your URL...</span>
				</div>
			</section>
			<section id="stats-section">
				<h2>URL stats:</h2>
				<div id="url-stats-display">
					<table id="stats-table">
						<tr>
							<th>Long URL</th>
							<th>Short URL</th>
							<th>URL Created At</th>
							<th>Times Clicked</th>
						</tr>
						<tr>
							<td id="td-long-url"></td>
							<td id="td-short-url"></td>
							<td id="td-created-at"></td>
							<td id="td-times-clicked"></td>
						</tr>
					</table>
				</div>
				<label for="url-stats-input">short-id to show stats for:</label>
				<input id="url-stats-input" type="text" name="url" placeholder="short URL / short-id..." />
				<button id="show-stats-button" type="button">SHOW STATS!</button>
			</section>
			<section id="message-section">
				<div id="message-display">
					<h3 id="message-to-user" hidden></h3>
				</div>
			</section>
		</main>
		<footer>
			<p>By <a href="https://github.com/kosta1221">Kosta Kirov</a></p>
		</footer>
	</body>
</html>
