body {
	text-align: center;
	background: linear-gradient(125deg, rgba(67, 64, 125, 1) 0%, rgba(6, 174, 208, 1) 85%);
	color: #d5d5d5;
	text-shadow: 1px 1px 0px #000, 4px 4px 0px rgba(0, 0, 0, 0.2);
}

main {
	padding: 0;
	margin-top: 40px;
}

h3 {
	margin-top: 30px;
}

.user-stories li {
	margin-bottom: 1em;
}

a {
	color: limegreen;
	text-shadow: none !important;
}

form {
	display: flex;
	margin: 10px auto;
	padding: 20px;
	max-width: 1000px;
}

label {
	margin-right: 10px;
}

input {
	padding: 5px;
}

button {
	background-color: limegreen !important;
	border-color: grey !important;
	border-style: outset !important;
}

#message-section {
	min-height: 30vh;
}

#stats-section {
	margin-top: 5vmin;
}

#stats-table {
	width: 90vw;
	min-height: 20vh;
	margin: auto;
}

#stats-table * {
	color: #d5d5d5;
}

#url-input {
	display: inline-block;
}

#main-title {
	margin-top: 30px;
}
